@charset "UTF-8";

.canvas {
    
    background: white;
    
}

/* 서치박스 */

.d-fl-al{
    justify-content: space-evenly;
    
}

.search-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    top:-3px;
 
  }

  .search-form{
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
    border: none;
   
 
  }

.input-search-box{
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20' width='20'%3E%3Cpath d='m15.938 17-4.98-4.979q-.625.458-1.375.719Q8.833 13 8 13q-2.083 0-3.542-1.458Q3 10.083 3 8q0-2.083 1.458-3.542Q5.917 3 8 3q2.083 0 3.542 1.458Q13 5.917 13 8q0 .833-.26 1.583-.261.75-.719 1.375L17 15.938ZM8 11.5q1.458 0 2.479-1.021Q11.5 9.458 11.5 8q0-1.458-1.021-2.479Q9.458 4.5 8 4.5q-1.458 0-2.479 1.021Q4.5 6.542 4.5 8q0 1.458 1.021 2.479Q6.542 11.5 8 11.5Z'/%3E%3C/svg%3E") no-repeat 13px center;;
    border: 1px solid #E4DFDF;
    border-radius: 10px;
    width: 280px;
    min-width: 200px;
    height: 30px;
    padding: 9px 4px 9px 40px;
   
}

.icon-filled-cancel{
    position: relative;
    left: -22px;
    top: 4px;
    width: 20px;
    height: 20px;
}


.header-categ-box {
   
    margin-top: 10px;
   

}



.li-header-categ {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}


.li-gr {
    /* grid-template-columns: repeat(6, minmax(60px, auto)); */
    grid-template-rows: repeat(3, minmax(24px, auto));
    grid-row-gap: 1%;
    grid-column-gap: 2%;
    grid-template-areas:
        "pic ct ct . . ht"
        "pic subj subj subj subj ht"
        "pic mem dt dt dt ht"
}

.li-categ {
    grid-area: ct;
}

.li-pic {
    grid-area: pic;
    grid-area: pic;
    background-image: url(../../images/member/stuff/chick.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 54px;
    height: 54px;

    display: inline-block;
    overflow: hidden;
    text-indent: -999px;
    justify-self: center;
    align-self: center;
}

.li-header-categ {
    margin: auto;
    margin-left: 0px;

}


.li-subj {
    grid-area: subj;
}

.li-member {
    grid-area: mem;
    font-size: 0.5rem;
}

.li-date {
    grid-area: dt;
    font-size: 0.5rem;
}

.li-heart {
    justify-self: center;
    grid-area: ht;
    width: 14px;
    height: 14px;
    background-size: auto;
}