@charset "UTF-8";

.canvas {

    background: white;

}

.p-l-30p {
    padding-left: 30%;
}

.header-jc {
    justify-content: space-between;

}

.li-header-categ {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}


.li-gr {
    grid-template-columns: repeat(6, minmax(60px, auto));
    grid-template-rows: repeat(3, minmax(24px, auto));
    grid-row-gap: 1%;
    grid-column-gap: 2%;
    grid-template-areas:
        "pic ct ct . . ht"
        "pic subj subj subj subj ht"
        "pic mem dt dt dt ht"
}

.li-categ {
    grid-area: ct;
}

.li-pic {
    grid-area: pic;
    grid-area: pic;
    background-image: url(../../images/member/stuff/chick.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 54px;
    height: 54px;

    display: inline-block;
    overflow: hidden;
    text-indent: -999px;
    justify-self: center;
    align-self: center;
}

.li-header-categ {
    margin: auto;
    margin-left: 0px;

}


.li-subj {
    grid-area: subj;
}

.li-member {
    grid-area: mem;
    font-size: 0.5rem;
}

.li-date {
    grid-area: dt;
    font-size: 0.5rem;
}

.li-heart {
    justify-self: center;
    grid-area: ht;
    width: 14px;
    height: 14px;
}

.address-categ {
    background: #f4f2f2f7;
    opacity: 1;
    position: relative;
    border: 0 solid rgba(230, 228, 228, 0.62);
    border-radius: 10px;
    height: 30px;
    overflow: hidden;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 85%;
}

.h-f-900 {
    font-weight: 900;
}

input::placeholder {
    text-align: center;
    font-size: 1rem;
}

#map {
    width: 97%;
    height: 300px;
    border-radius: 10px;
}

.search-dodbogi {
    background: transparent url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.5 14H14.71L14.43 13.73C15.41 12.59 16 11.11 16 9.5C16 5.91 13.09 3 9.5 3C5.91 3 3 5.91 3 9.5C3 13.09 5.91 16 9.5 16C11.11 16 12.59 15.41 13.73 14.43L14 14.71V15.5L19 20.49L20.49 19L15.5 14ZM9.5 14C7.01 14 5 11.99 5 9.5C5 7.01 7.01 5 9.5 5C11.99 5 14 7.01 14 9.5C14 11.99 11.99 14 9.5 14Z' fill='black' fill-opacity='0.87'/%3E%3C/svg%3E%0A") no-repeat center;
    background-position: 0% 0.2rem;
    border: 0px;
    border-radius: 10px;
    min-width: 200px;
    height: 30px;
    padding: 5px 18px 5px 35px;
    background-color: #f2f2f2;
}