@charset "UTF-8"; 

/* ----------- reg1 ----------- */

.reg1-main-content{
    margin-top: 109px;
    text-align: center;
}


/* ----------- reg1 카테고리 박스 선택 ----------- */
.category-select{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.select-box-list{
    margin-top: 105px;
}


.categ-eff:active{
    background-color: #F0F2F3;
}

.m-t-button{
    margin-top: 114px;
}


/* ----------- reg2 ----------- */

.reg2-post{
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 18px;

    border: none;
    background-color: #fff;
    color: #CCD0D3;

    font-size: 12px;
    font-family: 'Nanum Gothic', sans-serif;
}

.file-box{ 
    margin-top: 35px;

}

.select-content{ 
    height: 330px;
}


.input-content{
    width: 200px;
    height: 80%;
    margin-top: 10%;
}











