@charset "UTF-8";

.canvas {
    background: white;
}

.header-jc {
    justify-content: space-between;
}

.li-header-categ{
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}


.li-gr {
    grid-template-columns: repeat(6, minmax(60px, auto));
    grid-template-rows: repeat(3, minmax(24px, auto));
    grid-row-gap: 1%;
    grid-column-gap: 2%;
    grid-template-areas:
        "pic ct ct . . ht"
        "pic subj subj subj subj ht"
        "pic mem dt dt dt ht"
}

.li-categ {
    grid-area: ct;
}

.li-pic {
    grid-area: pic;
    grid-area: pic;
    background-image: url(../../images/member/stuff/chick.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 54px;
    height: 54px;

    display: inline-block;
    overflow: hidden;
    text-indent: -999px;
    justify-self: center;
    align-self: center;
}

.li-header-categ{
    margin: auto;
    margin-left: 0px;

}


.li-subj {
    grid-area: subj;
}

.li-member {
    grid-area: mem;
    font-size: 0.5rem;
}

.li-date {
    grid-area: dt;
    font-size: 0.5rem;
}

.li-heart {
    justify-self: center;
    grid-area: ht;
    width: 14px;
    height: 14px;
}

