.detail{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.detail-picture{
    background-image: url(../../images/member/stuff/chick.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 200px;
    height: 150px;
    margin: auto;
    text-indent: -999px;
}

.detail-category{
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 14px;
    color:rgb(138, 138, 139);
}

.detail-title{
    font-size: 18px;
}

.detail-price-status{
    display: flex;
    /* justify-content: space-between; */
}

.detail-price{
    font-size: 19px;
    font-weight: 900;
    flex-basis: 30%;
}

.detail-status{
    font-size: 12px;
    color:rgb(138, 138, 139);
    border-radius: 10px;
    background-color: rgb(235, 236, 237);
    text-align: center;
    margin: auto;
    flex-basis: 50px;
}

.detail-heart{
    font-size: 14px;
    color:rgb(138, 138, 139);
    flex-basis: 50%;
    text-align: right;
}

.detail-notice{
    margin-top: 20px;
    border-radius: 10px;

    /* PointColor --------------- */
    /* background-color: rgb(235, 236, 237); */ /*회색*/
    /* background-color: #e6f5f1; */            /*초록*/
    background-color: #fffaed;             /*감자*/
    /* background-color: #f5e8ea; */
    /* background-color: #f5e8ea; */            /*빨강*/
}

.detail-notice>ul{
    font-size: 14px;;
    font-weight: 400;
    padding: 10px 0;
    margin-left: 25px;
}


.detail-notice-li{
    margin-left: 30px;
}

.detail-content{
    margin-top: 30px;
    font-size: 15px;
    font-weight: 100;
}

.detail-paragraph{
    margin: 5px;
    height: 120px;
    overflow-y: hidden;
}

.detail-paragraph{
    width: 10px;
    background-color: rgb(208, 206, 206);
}

.detail-join{
    display: grid;
    grid-template-columns: repeat(2, minmax(60px, auto));
    grid-template-rows: repeat(2, minmax(24px, auto));
    grid-row-gap: 10%;
    grid-column-gap: 10%;
    grid-template-areas:
        "h2 h2"
        "list button"
    ;
    position: fixed;
    bottom: 0;
    width: auto;
    box-shadow: 5px gray;
}

.detail-join>h2:nth-child(2){
    grid-area: h2;
}

.detail-join>div:nth-child(3){
    grid-area: list;
    justify-content: center;
}

.btn-enter{
    width: 50vw;
    height: 5vh;
}

.detail-member-li{
    text-align: center;
}

