@charset "UTF-8"; 

.btn-default{
    width: 150px;
    height: 40px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 1px 4px 4px rgba(0, 0, 0, 0.03);
    border-radius: 15px;
    border: none;

    text-align: center;
    cursor: pointer;
}

.btn-next{ 
    width: 150px;
    height: 40px;
    
    border: none;
    border-radius: 10px;
    
    background-color: #000;
    color: #fff;

    text-align: center;
    cursor: pointer;
}

/* -------- reg2 파일 업로드 버튼 -------- */
.btn-file{
    border: none;
    border-radius: 10px;    
    width: 43px;
    height: 40px;

    background-color: #F6F6F6;
    display: inline-block;
    overflow: hidden;
    text-indent: -999px;

    background-image: url("../../../images/member/stuff/picture-plus.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%;
}

.btn-uploaded-files{
    border: none;
    border-radius: 10px;    
    width: 43px;
    height: 40px;
    background-color: #F6F6F6;

    display: inline-block;
    overflow: hidden;
    text-indent: -999px;
}

/* === detail ====================== */
.btn-enter{
    margin: auto;
    top:auto;
    left: auto;
    width: 100%;

    font-size: 18px;
    font-weight: bold;

    /* PointColor --------------- */
    /* background-color: rgb(0, 152, 116); */   /*초록*/
    background-color: #FFCA4B;            /*감자*/
    /* background-color: rgb(136, 176, 75); */  /*연두*/
    /* background-color: #9b1b30; */            /*빨강*/
}
/* ======================================== */